* {
    font-family: sans-serif;
}
div.button {
  background-color: #5577ee;
  width: 200px;
  height: 20px;
  padding: 0;
  text-align: center;
  color: #222436;
  font-weight: bold;
  cursor: pointer;
}
div.content {
  background-color: #55ee99;
  width: 180px;
  height: 40px;
  padding: 10px;
  margin-top: 0;
  color: #222436;
}
div.mywidget {
  display: inline-block;
  margin: 0 10px 0 0;
  height: 100px;
  vertical-align: top;
}
.hidden {
  display: none;
}
